on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - run: pwd
    - run: ls
    - run: echo "Hello World"
    - run: node -v
    - run: curl -fsSL https://bun.sh/install | bash
    - run: bun -v